@import '../../../_common/styles/common.scss';

#banner{
 width: 300px;
 height: 250px;
 
}

.masker{
	overflow: hidden;
}

#mask-leaf{
	@include pos(175, 112);
	width: 44px;
	height: 63px;
}

#mask-corn{
	@include pos(50, 101);
	width: 80px;
	height: 59px;
}

#mask-wheat{
	@include pos(114, 162);
	width: 32px;
	height: 44px;
}

.cover2{
	@include pos-scale(110, 0, .5);
}

.sky{
	@include pos-scale(-25, 0, .5);
}