<div id="legalBtn"></div>
<div id="legalContent">
        NHL, the NHL Shield and the word mark and image of the Stanley Cup are registered trademarks and the Stanley Cup Playoffs logo is a trademark of the National Hockey League.  © NHL 2022.  All Rights Reserved. Terms and Conditions apply.  Individuals must be 19 years of age or older to participate in online sports betting made available by OLG. Must be a resident of Ontario located in the province at the time of registration, where applicable, and play.


        </div>
        